.person-1{
    border-radius: 4px;
    position: relative;
    transition: all 13s;
    color: #fff;
    text-align: center;
    font-weight: 200px;
    background-size: 45px;
    background-repeat: no-repeat;
}

.person-2{
    border-radius: 4px;
    position: relative;
    transition: all 13s;
    color: #fff;
    text-align: center;
    font-weight: 200px;
    background-size: 45px;
    background-repeat: no-repeat;
}

.person-3{
    border-radius: 4px;
    position: relative;
    transition: all 13s;
    color: #fff;
    text-align: center;
    font-weight: 200px;
    background-size: 45px;
    background-repeat: no-repeat;
}

.person-4{
    border-radius: 4px;
    position: relative;
    transition: all 13s;
    color: #fff;
    text-align: center;
    font-weight: 200px;
    background-size: 45px;
    background-repeat: no-repeat;
}

.person-5{
    border-radius: 4px;
    position: relative;
    transition: all 13s;
    color: #fff;
    text-align: center;
    font-weight: 200px;
    background-size: 45px;
    background-repeat: no-repeat;
}

